snippet main "int main(...)" b
int main(int argc, char *argv[]){
	$1
	return 0;
}
endsnippet

snippet #< "#include <...>" bA
#include <$1>$2
endsnippet

snippet #" "#include ''...''" bA
#include "$1"$2
endsnippet

snippet /* "/**/" A
/* $1 */
endsnippet
