snippet x "- [ ] Checkbox"
- [ ] $1
endsnippet

snippet planet "New planet description for game"
## $1

- https://starwars.fandom.com/wiki/$1

### Data
Region: $2
Sector: $3
Day: $4
Year: $5
Atmosphere: $6

### Notes
- $7
endsnippet
